* {
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
    font-weight: 100;
}

@font-face {
    font-family: 'sans-font';
    src: url(font/OpenSans-VariableFont_wdth\,wght.ttf);
}

body {
    text-transform: capitalize;
    background-color: #2f3044;
    color: #fff;
    font-family: 'sans-font', sans-serif;
}

.main-title-on-head {
    text-align: center;
    padding: 20px 0;
}

button {
    cursor: pointer;
}

.container {
    width: 100%;
    background-color: transparent;
}

.weather-input {
    width: 96%;
    margin: 2%;
    display: flex;
}

.city-input {
    border: none;
    outline: none;
    color: #ffffff;
    background: transparent;
    padding: 10px 20px;
    width: -webkit-fill-available;
    text-transform: uppercase;
    letter-spacing: 2px;
}

::placeholder {
    color: #fff;
}

.search-btn {
    background: transparent;
    padding: 10px 20px;
    border: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.location-btn {
    padding: 15px;
    width: -webkit-fill-available;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 7px;
}
.btn-search-1 {
    display: flex;
    align-content: center;
    justify-content: space-between;
    overflow: hidden;
    width: 700px;
    background-color: rgb(7 16 45);
    background: linear-gradient(to top right, rgb(7 16 45), rgb(58 60 84));
    background: -webkit-linear-gradient(to top right, rgb(7 16 45), rgb(58 60 84));
    border-radius: 7px;
    border: 1px solid rgb(84 90 106);
}
.search-icon {
    height: 20px;
}

.separator {
    content: "0r";
}
button {
    color: #fff;
    border: none;
    background-color: rgb(7 16 45);
    background: linear-gradient(to top right, rgb(7 16 45), rgb(58 60 84));
    background: -webkit-linear-gradient(to top right, rgb(7 16 45), rgb(58 60 84));
    border-radius: 7px;
    border: 1px solid rgb(84 90 106);
    outline: none;
}

.current-weather {
    width: 100%;
    display: flex;
}


.weather-data {
    overflow: hidden;
    position: relative;
}

.part1-current-weather {
    width: 40%;
    height: 267px;
    background: #606c88;
    overflow: hidden;
    background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
    background: linear-gradient(to right top, #3f4c6b, #606c88);
    border-radius: 7px;
    box-shadow: 0px 87px 78px -39px rgba(0, 0, 0, 0.4);
}

.icon {
    height: 30vh;
}
#main-card-icon {
    width: 50%;
    align-items: baseline;
}
.other-city-details {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.city-name-main {
    text-transform: capitalize;
    font-size: 25px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.temp-main {
    font-size: 12vh;
    font-weight: 500;
    color: #70869d;
    letter-spacing: .15em;
    text-shadow:
        -1px -1px 1px #efede3,
        0px 1px 0 #2e2e2e,
        0px 2px 0 #2c2c2c,
        0px 3px 0 #2a2a2a,
        0px 4px 0 #282828,
        0px 5px 0 #262626,
        0px 6px 0 #242424,
        0px 7px 0 #222,
        0px 8px 0 #202020,
        0px 9px 0 #1e1e1e,
        0px 10px 0 #1c1c1c,
        0px 11px 0 #1a1a1a,
        0px 12px 0 #181818,
        0px 13px 0 #161616,
        0px 14px 0 #141414,
        0px 15px 0 #121212,
        2px 20px 5px rgba(0, 0, 0, 0.9),
        5px 23px 5px rgba(0, 0, 0, 0.3),
        8px 27px 8px rgba(0, 0, 0, 0.5),
        8px 28px 35px rgba(0, 0, 0, 0.9);
}



.details {
    display: block;
}


.weather-data {
    position: relative;
}







.condition {
    text-transform: capitalize;
    font-size: 4vh;
    position: absolute;
    top: 16vh;
    left: 9px;
    font-weight: 100;
    
}

.weather-icon {
    width: 30vh;
}


.weather-icon-main {
    width: 200px;
}

.part2-current-weather {
    width: 60%;
}

#details-card {
    width: 94%;
    margin: 4% 0 3% 0;
    overflow: hidden;
    background-color: rgb(7 16 45);
    background: linear-gradient(to top right, rgb(7 16 45), rgb(58 60 84));
    background: -webkit-linear-gradient(to top right, rgb(7 16 45), rgb(58 60 84));
    border-radius: 7px;
    border: 1px solid rgb(84 90 106);
}

.high-low-temp {
    display: grid;
    align-items: center;

    position: relative;
}
#card-details {
    padding: 10px;
}

#all-same-arrow {
    display: flex;
    align-items: center;
}

.temp-part {
    text-align: center;
    width: 100%;
    padding: 13px 0;
}

#temp-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#all-same-arrow {
    min-width: 45%;
    display: flex;
    margin: 0 2%;
    justify-content: center;
}
.feels-like{
    
    letter-spacing: 3px;
}

.arrow {
    padding-right: 10px;
    height: 20px;
}

.other-details {
    display: flex;
}

#arrow-input {
    font-size: 26px;
}
#card-name {
    color: #a9a9a9;
    font-size: 20px;
    width: 100%;
    border-bottom: 1px solid;
}

.other-details-weather {
    display: flex;
    padding: 16px 0;
}

.part1-section-other-weather {
    display: flex;
    width: 48%;
    margin: 0 1%;
    justify-content: space-evenly;
}
#section-other-in-weather-id-name{
    padding: 3px 0;
    letter-spacing: 3px;
}
.location-icon {
    height: 31px;
    margin: 0 15px;
}



.uv-condition {
    font-size: 50px;
}

.card-details {
    padding: 10px;
}

#uv-input-name {
    font-size: 86px;
}

.card-icon {
    display: flex;
    justify-content: center;
}

#other-detail-card {
    min-height: 200px;
    background-color: rgb(7 16 45);
    background: linear-gradient(to top right, rgb(7 16 45), rgb(58 60 84));
    background: -webkit-linear-gradient(to top right, rgb(7 16 45), rgb(58 60 84));
    border-radius: 7px;
    border: 1px solid rgb(84 90 106);
    width: 96%;
    margin: 2%;
    overflow: hidden;
    border-radius: 7px;
    position: relative;
}

#main-forecast-data {
    width: 100%;
}

.line {
    width: 100%;
    background: rgb(15, 37, 87);
    background: linear-gradient(90deg, rgba(15, 37, 87, 1) 0%, rgba(111, 153, 255, 1) 50%, rgba(15, 37, 87, 1) 100%);
    bottom: 8px;
    height: 6px;
    position: absolute;
}

.today-card-con-temp ,.daily-card-con-temp{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#in-part-forecast-data {
    display: flex;
    overflow-x: scroll;
}



#card {
    width: 250px;
    border-radius: 7px;
    display: flex;
    margin: 2vh 1vh;
    color: white;
    min-height: 247px;
    justify-content: center;
    position: relative;
    flex-direction: column;
    background-color: rgb(7 16 45);
    background: linear-gradient(to top right, rgb(7 16 45), rgb(58 60 84));
    background: -webkit-linear-gradient(to top right, rgb(7 16 45), rgb(58 60 84));
    border: 1px solid rgb(84 90 106);
    overflow: hidden;
}

.in-card-details {
    padding: auto;
}

#forecast-card-time,
#forecast-card-icon,
#forecast-card-condition,
#forecast-card-temp {
    display: flex;
    font-size: 20px;
    justify-content: center;
}

.separator {
    height: 1px;
    width: 60%;
    margin: 15px 20%;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.separator::before {
    content: "OR";
    color: #ffffff;
    font-size: 15px;
    padding: 0 15px;
    background: #2f3044;
}

.forecast-data-title {
    height: 1px;
    width: 100%;
    margin: 25px 0;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.forecast-data-title::before {
    color: #ffffff;
    font-size: 20px;
    padding: 0 15px;
    background: #2f3044;
}

#data-title-1::before {
    content: "Day Forecast";
}

#data-title-2::before {
    content: "Daily Forecast";
}

@media (max-width: 768px) {
    .weather-input {
        display: flow-root;
    }

    .current-weather {
        display: flow-root;
    }

    .main {
        display: flow-root;
    }

    .btn-search-1 {
        width: 100%;
    }

    .part1-current-weather,
    .part2-current-weather {
        width: 94%;
        margin: 3%;
    }

    .part2-current-weather {
        width: 100%;
    }

    .weather-data {
        width: 100%;
        padding-bottom: 20px;
    }

    .icon {
        width: 100%;
        display: flex;
        top: 18vh;
        justify-content: center;
    }

    .details {
        bottom: 0;
    }

    .weather-icon {
        width: 16vh;
    }



    .part {
        width: 100%;
    }

    #in-part-forecast-data {
        margin-left: 14px;
        align-items: center;
        overflow-x: auto;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        overflow: auto;
        display: flex;
        scroll-snap-type: x mandatory;
        position: relative;
    }

    .details {
        display: flex;
    }

    #card {
        flex-shrink: 0;
        scroll-snap-align: start;
    }
}